<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>

            <input type="text" v-model="name" placeholder="姓名">
            <input type="text" v-model="age" placeholder="年龄">
            <input type="text" v-model="email" placeholder="邮箱">
            <input type="text" v-model="tel" placeholder="电话号码">
        </div>
        <div>
            <p>姓名：<span>{{ name }}</span></p>
            <p>年龄：<span>{{ age }}</span></p>
            <p>邮箱：<span>{{ email }}</span></p>
            <p>
                <p>电话：<span>{{ tel }}</span></p>
            </p>
            <p><span v-model="name"></span></p>
        </div>
    </div>
    <button id="btn">改变名字</button>
    </div>

<script src="./vm.js"></script>
    <script>
        const app = new MVVM('#app', {
            name: '',
            age: '',
            email: '',
            tel: ''
        })
        document.querySelector('#btn').addEventListener('click', function () {
            app.setData('name', 'test');
        })
    </script>
</body>

</html>